kernel/common/idbus-oauth2-protocol/src/main/resources/org/atricore/idbus/kernel/common/oauth2/oauth-2.0-all.wsdl

<!--
  ~ Atricore IDBus
  ~
  ~ Copyright 2009, Atricore Inc.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<wsdl:definitions
        name="SSO-Service"
        targetNamespace="urn:org:atricore:idbus:common:oauth:2.0:wsdl"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="urn:org:atricore:idbus:common:oauth:2.0:wsdl"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:oauth2p="urn:org:atricore:idbus:common:oauth:2.0:protocol"
        xmlns="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>

        <xsd:schema
                xmlns:oauth2p="urn:org:atricore:idbus:common:oauth:2.0:protocol"
                targetNamespace="urn:org:atricore:idbus:common:oauth:2.0:protocol"
                elementFormDefault="qualified"
                attributeFormDefault="unqualified">

            <xsd:complexType name="OAuthRequestAbstractType" abstract="true">
                <xsd:sequence>
                    <xsd:element name="oauthHeaders" type="oauth2p:OauthHeaderType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OAuthResponseAbstractType" abstract="true">
                <xsd:sequence>
                    <xsd:element name="oauthHeaders" type="oauth2p:OauthHeaderType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="statusCode" type="xsd:integer"/>
                <!-- Only for error responses -->
                <xsd:attribute name="error" type="oauth2p:ErrorCodeType" use="optional"/>
                <xsd:attribute name="error_description" type="xsd:string" use="optional"/>
                <xsd:attribute name="error_uri" type="xsd:string" use="optional"/>
                <xsd:attribute name="state" type="xsd:string" use="optional"/>
            </xsd:complexType>

            <xsd:element name="TokenRequest" type="oauth2p:TokenRequestType"/>
            <xsd:complexType name="TokenRequestType">
                <xsd:complexContent>
                    <xsd:extension base="oauth2p:OAuthRequestAbstractType">
                        <xsd:sequence>
                            <xsd:element name="clientAuthenthincation" type="oauth2p:ClientAuthenticationType" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                        <xsd:attribute name="grantType" use="required"/>
                        <xsd:attribute name="code" use="required"/>
                        <xsd:attribute name="redirectUri" use="required"/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="ClientAuthenticationType" abstract="true">

            </xsd:complexType>

            <xsd:complexType name="ClientSecret">
                <xsd:complexContent>
                    <xsd:extension base="oauth2p:ClientAuthenticationType">
                        <xsd:attribute name="clientId" type="xsd:string" use="required"/>
                        <xsd:attribute name="clientSecret" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="ClientSecretJWT">
                <xsd:complexContent>
                    <xsd:extension base="oauth2p:ClientAuthenticationType">
                        <xsd:attribute name="jwt" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="ClientPrivateKeyJWT">
                <xsd:complexContent>
                    <xsd:extension base="oauth2p:ClientAuthenticationType">
                        <xsd:attribute name="jwt" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:element name="AuthorizationRequest" type="oauth2p:AuthorizationRequestType"/>
            <xsd:complexType name="AuthorizationRequestType">
                <xsd:complexContent>
                    <xsd:extension base="oauth2p:OAuthRequestAbstractType">
                        <xsd:attribute name="scope" type="xsd:string" use="required"/>
                        <xsd:attribute name="responseType" type="xsd:string" use="required" default="code"/>
                        <xsd:attribute name="clientId" type="xsd:string" use="required"/>

                        <xsd:attribute name="redirectUri" type="xsd:string" use="optional"/>
                        <xsd:attribute name="state" type="xsd:string" use="optional"/>
                        <xsd:attribute name="responseMode" type="xsd:string" use="optional"/>
                        <xsd:attribute name="nonce" type="xsd:string" use="optional"/>
                        <xsd:attribute name="display" type="xsd:string" use="optional"/>
                        <xsd:attribute name="prompt" type="xsd:string" use="optional"/>
                        <xsd:attribute name="maxAget" type="xsd:string" use="optional"/>
                        <xsd:attribute name="uiLocales" type="xsd:string" use="optional"/>
                        <xsd:attribute name="idTokenHint" type="xsd:string" use="optional"/>
                        <xsd:attribute name="loginHint" type="xsd:string" use="optional"/>
                        <xsd:attribute name="acrValues" type="xsd:string" use="optional"/>

                        <!-- this attribute is non-normative -->
                        <xsd:attribute name="clientSecret" type="xsd:string" use="optional"/>
                        <xsd:attribute name="idpAlias" type="xsd:string" use="optional"/>

                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:element name="AuthorizationResponse" type="oauth2p:AuthorizationResponseType"/>
            <xsd:complexType name="AuthorizationResponseType">
                <xsd:complexContent>
                    <xsd:extension base="oauth2p:OAuthResponseAbstractType">
                        <xsd:attribute name="code" type="xsd:string" use="optional"/>
                        <xsd:attribute name="accessToken" type="xsd:string" use="optional"/>
                        <xsd:attribute name="refreshToken" type="xsd:string" use="optional"/>
                        <xsd:attribute name="idToken" type="xsd:string" use="optional"/>
                        <xsd:attribute name="tokenType" type="xsd:string" use="optional"/>
                        <xsd:attribute name="expiresIn" type="xsd:long" use="optional"/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:element name="AccessTokenRequest" type="oauth2p:AccessTokenRequestType"/>
            <xsd:complexType name="AccessTokenRequestType">
                <xsd:complexContent>
                    <xsd:extension base="oauth2p:OAuthRequestAbstractType">
                        <xsd:attribute name="grantType" type="xsd:string" use="required"/>
                        <xsd:attribute name="clientId" type="xsd:string" use="required"/>
                        <xsd:attribute name="clientSecret" type="xsd:string" use="optional"/>
                        <xsd:attribute name="username" type="xsd:string" use="optional"/>
                        <xsd:attribute name="password" type="xsd:string" use="optional"/>
                        <xsd:attribute name="scope" type="xsd:string" use="optional"/>
                        <xsd:attribute name="redirectUri" type="xsd:string" use="optional"/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:element name="AccessTokenResponse" type="oauth2p:AccessTokenResponseType"/>
            <xsd:complexType name="AccessTokenResponseType">
                <xsd:complexContent>
                    <xsd:extension base="oauth2p:OAuthResponseAbstractType">
                        <xsd:sequence>
                            <xsd:element name="oauthAttributes" type="oauth2p:OauthAttributeType" minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>

                        <xsd:attribute name="accessToken" type="xsd:string" use="optional"/>
                        <xsd:attribute name="refreshToken" type="xsd:string" use="optional"/>
                        <xsd:attribute name="idToken" type="xsd:string" use="optional"/>
                        <xsd:attribute name="tokenType" type="xsd:string" use="optional"/>
                        <xsd:attribute name="expiresIn" type="xsd:long" use="optional"/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:element name="RefreshAccessTokenRequest" type="oauth2p:RefreshAccessTokenRequestType"/>
            <xsd:complexType name="RefreshAccessTokenRequestType">
                <xsd:complexContent>
                    <xsd:extension base="oauth2p:OAuthRequestAbstractType">
                        <xsd:attribute name="grantType" type="xsd:string" use="required"/>
                        <xsd:attribute name="scope" type="xsd:string" use="optional"/>
                        <xsd:attribute name="refreshToken" type="xsd:string" use="required"/>
                        <xsd:attribute name="clientId" type="xsd:string" use="required"/>
                        <xsd:attribute name="clientSecret" type="xsd:string" use="optional"/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:simpleType name="ErrorCodeType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="invalid_request"/>
                    <xsd:enumeration value="unauthorized_client"/>
                    <xsd:enumeration value="access_denied"/>
                    <xsd:enumeration value="unsupported_response_type"/>
                    <xsd:enumeration value="invalid_scope"/>
                    <xsd:enumeration value="server_error"/>
                    <xsd:enumeration value="temporary_unavailable"/>

                    <!-- OpenID Connect values -->
                    <xsd:enumeration value="interaction_required"/>
                    <xsd:enumeration value="login_required"/>
                    <xsd:enumeration value="account_selection_required"/>
                    <xsd:enumeration value="consent_required"/>
                    <xsd:enumeration value="invalid_request_uri"/>
                    <xsd:enumeration value="invalid_request_object"/>
                    <xsd:enumeration value="request_not_supported"/>
                    <xsd:enumeration value="request_uri_not_supported"/>
                    <xsd:enumeration value="registration_not_supported"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:element name="OAuthAccessToken" type="oauth2p:OAuthAccessTokenType"/>
            <xsd:complexType name="OAuthAccessTokenType">
                <xsd:sequence>
                    <xsd:element name="tokenParameters" type="oauth2p:OauthAttributeType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="accessToken" type="xsd:string" use="required"/>
                <xsd:attribute name="tokenType" type="xsd:string" use="required"/>
                <xsd:attribute name="expiresIn" type="xsd:long" />
            </xsd:complexType>

            <xsd:element name="OAuthAttribute" type="oauth2p:OauthAttributeType"/>
            <xsd:complexType name="OauthAttributeType" abstract="true">
                <xsd:attribute name="name" type="xsd:string" use="required"/>
                <xsd:attribute name="value" type="xsd:string" use="required"/>
            </xsd:complexType>

            <xsd:element name="OAuthHeader" type="oauth2p:OauthHeaderType"/>
            <xsd:complexType name="OauthHeaderType" abstract="true">
                <xsd:attribute name="name" type="xsd:string" use="required"/>
                <xsd:attribute name="value" type="xsd:string" use="required"/>
            </xsd:complexType>
        </xsd:schema>

    </wsdl:types>

    <message name="AuthorizationRequestMessage">
        <part name="body" element="oauth2p:AuthorizationRequest"/>
    </message>

    <message name="AccessTokenRequestMessage">
        <part name="body" element="oauth2p:AccessTokenRequest"/>
    </message>

    <message name="AuthorizationResponseMessage">
        <part name="body" element="oauth2p:AuthorizationResponse"/>
    </message>

    <message name="AccessTokenResponseMessage">
        <part name="body" element="oauth2p:AccessTokenResponse"/>
    </message>


    <portType name="OAuthPortType">

        <operation name="AuthorizationRequest">
            <input name="AuthorizationRequestInput"
                        message="tns:AuthorizationRequestMessage"/>
            <output name="AuthorizationResponseOutput"
                         message="tns:AuthorizationResponseMessage"/>
        </operation>

        <operation name="AccessTokenRequest">
            <input name="AccessTokenRequestInput"
                        message="tns:AccessTokenRequestMessage"/>
            <output name="AccessTokenResponseOutput"
                         message="tns:AccessTokenResponseMessage"/>
        </operation>


    </portType>

    <binding name="OAuthSoapBinding" type="tns:OAuthPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="AuthorizationRequest">
            <soap:operation style="document"
                            soapAction="http://www.oasis-open.org/committees/security"/>

            <input name="AuthorizationRequestInput">
                <soap:body use="literal"/>
            </input>
            <output name="AuthorizationResponseOutput">
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="AccessTokenRequest">
            <soap:operation style="document"
                            soapAction="http://www.oasis-open.org/committees/security"/>

            <input name="AccessTokenRequestInput">
                <soap:body use="literal"/>
            </input>
            <output name="AccessTokenResponseOutput">
                <soap:body use="literal"/>
            </output>
        </operation>

    </binding>


    <wsdl:service name="OAuthService">
        <documentation>OAuth 2 Service</documentation>
        <port name="soap"
              binding="tns:OAuthSoapBinding">
            <!-- Change this -->
            <soap:address location="http://localhost:8081/OAuthService/"/>
        </port>
    </wsdl:service>

</wsdl:definitions>