kernel/common/idbus-oauth2-protocol/src/main/resources/org/atricore/idbus/kernel/common/oauth2/oauth-2.0.wsdl

<!--
  ~ Atricore IDBus
  ~
  ~ Copyright 2009, Atricore Inc.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<wsdl:definitions
        name="SSO-Service"
        targetNamespace="urn:org:atricore:idbus:common:oauth:2.0:wsdl"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="urn:org:atricore:idbus:common:oauth:2.0:wsdl"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:oauth2p="urn:org:atricore:idbus:common:oauth:2.0:protocol"
        xmlns="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="urn:org:atricore:idbus:common:oauth:2.0:protocol"
                        schemaLocation="oauth-schema-2.0.xsd"/>
        </xsd:schema>

    </wsdl:types>

    <message name="AuthorizationRequestMessage">
        <part name="body" element="oauth2p:AuthorizationRequest"/>
    </message>

    <message name="AccessTokenRequestMessage">
        <part name="body" element="oauth2p:AccessTokenRequest"/>
    </message>

    <message name="AuthorizationResponseMessage">
        <part name="body" element="oauth2p:AuthorizationResponse"/>
    </message>

    <message name="AccessTokenResponseMessage">
        <part name="body" element="oauth2p:AccessTokenResponse"/>
    </message>


    <portType name="OAuthPortType">

        <operation name="AuthorizationRequest">
            <input name="AuthorizationRequestInput"
                        message="tns:AuthorizationRequestMessage"/>
            <output name="AuthorizationResponseOutput"
                         message="tns:AuthorizationResponseMessage"/>
        </operation>
        
        <operation name="AccessTokenRequest">
            <input name="AccessTokenRequestInput"
                        message="tns:AccessTokenRequestMessage"/>
            <output name="AccessTokenResponseOutput"
                         message="tns:AccessTokenResponseMessage"/>
        </operation>


    </portType>
    
    <binding name="OAuthSoapBinding" type="tns:OAuthPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="AuthorizationRequest">
            <soap:operation style="document"
                            soapAction="http://www.oasis-open.org/committees/security"/>

            <input name="AuthorizationRequestInput">
                <soap:body use="literal"/>
            </input>
            <output name="AuthorizationResponseOutput">
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="AccessTokenRequest">
            <soap:operation style="document"
                            soapAction="http://www.oasis-open.org/committees/security"/>

            <input name="AccessTokenRequestInput">
                <soap:body use="literal"/>
            </input>
            <output name="AccessTokenResponseOutput">
                <soap:body use="literal"/>
            </output>
        </operation>

    </binding>


    <wsdl:service name="OAuthService">
        <documentation>OAuth 2 Service</documentation>
        <port name="soap"
              binding="tns:OAuthSoapBinding">
            <!-- Change this -->
            <soap:address location="http://localhost:8081/OAuthService/"/>
        </port>
    </wsdl:service>
    
</wsdl:definitions>